* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
 
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2fb7cf;
  }
 
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(8, 138, 138);
  }
 
  h1 {
    text-align: center;
  }
 
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
  }
 
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(8, 138, 138);
  }
 
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #2288cc;
  }